Session refresh seems to be not safe when multiple devices exist

In a scenario where;

- a saved session is used by multiple devices - this is the implicit case when using this library; and parallel requests are triggered from each device
- a token refresh request generates a new refresh token as determined by the server

Multiple in-flight requests can fail because the old token was already invalidated by the server, causing the "saved" refresh token to be deleted and/or raising "invalid_grant" errors. This will cause all devices to become unavailable needing repairs.

According to [RFC 6749 Section 6 - Refreshing an Access Token](https://datatracker.ietf.org/doc/html/rfc6749#section-6):

>    The authorization server MAY issue a new refresh token, in which case
>    the client MUST discard the old refresh token and replace it with the
>    new refresh token.  The authorization server MAY revoke the old
>    refresh token after issuing a new refresh token to the client.  If a
>    new refresh token is issued, the refresh token scope MUST be
>    identical to that of the refresh token included by the client in the
>    request.

It would be good to understand if this is mitigated somehow in the library or if there is a pattern available to handle this in the application code.

I am guessing this is "sort of" prevented by https://github.com/athombv/node-homey-oauth2app/blob/1d1c8e9663335cfe069541ccbaa16a1abccd12de/lib/OAuth2Client.js#L265-L267

Is there a possibility that this is not sufficient when multiple device clients are involved?

Refreshing of the token should indeed happen only once at a time, meaning all API calls wait for the one refresh to continue.

If you're observing incorrect behavior, please submit a reproducible example.

Definitely observing this scenario in my app for a user. But not so sure how to give you a reproducible example other than describing the sequence of events. Could write a test case, but since homey lib is not accessible I am not sure how to do that here. 

Expanding on my original post, in the following scenario, there is no guarantee that refresh only occurs once. 

**Preconditions:**
1. A session was previously authenticated and saved. 
2. OAuth server recreates refresh token when a new access token is issued. 
3. All devices are making multiple polling requests, that can occur simultaneously using the same session. 
4. Authenticated session in (1) has expired and Homey was offline for duration longer than the ttl of the access token but less than the ttl (undisclosed) of the refresh token. 

**Assumptions:**
1. When multiple devices are added. (D1, D2).
2. Each device has individual client instances that loaded the same saved session.

**Scenario:**
1. Homey restarts or reconnects. 
2. All devices resume operations and dispatch API requests R1 and R2. 

**Result:**
1. D1.R1 initiates refresh token request and is in-flight.
2. D1.R2 is correctly awaiting the (1).
3. D2.R1 proceeds with refresh token request despite (1) because its instance property is not already set (as the client instances are different)
4. D2.R2 awaits (3).

Now you have created a scenario where one of (1) or (3) will fail and mark the refresh token as expired. The successful one will save the session along with the new refresh token and the failed session will continue to use the in-memory token and repeat the failure (or if error is handled in the app lead to the expired event being triggered - forcing re-authentication).

@WeeJeWel if you have ideas on how I can write and submit a reproducible example for something like this, please let me know. 